{% load static %}
<div class="footer_2_copyright_area mt_120 xs_mt_80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tf__footer_copyright">
            <p>© CodeeFly 2023 | All Rights Reserved</p>
            <ul>
              <li>
                <a href="#" class="text_hover_animaiton">Trams & Condition</a>
              </li>
              <li>
                <a href="#" class="text_hover_animaiton">Privacy Policy</a>
              </li>
              <li>
                <a href="#" class="text_hover_animaiton">Sitemap</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>